<% @journal_entries.each do |entry| %>
  <b><li> <%= link_to entry.title, journal_journal_entry_path(@journal, entry), style: "text-decoration: none;" %></li></b>
<% end %>

<br>
<%= link_to "add new entry", new_journal_journal_entry_path(@journal) %>
