<div class="canvas canvas--compact">
  <%= simple_form_for(@journal, html: { class: "canvas__form" }) do |f| %>

    <div class="canvas__bar">
      <%= link_to journals_path, class: "canvas__cancel" do %>
        <i class="fa-solid fa-arrow-left"></i> Cancel
      <% end %>
      <button type="submit" class="canvas__save">Save</button>
    </div>

    <div class="canvas__body">
      <%= f.input :name,
                  label: false,
                  placeholder: "Name your journal",
                  input_html: {
                    class: "canvas__title-input",
                    autofocus: true,
                    "aria-label": "Journal name"
                  } %>
    </div>

  <% end %>
</div>
